h3{
  font-size: 70px;
  color: red;
}

img{
  height: 80px;
  width: 80px;
}

.review-container{
  border-bottom: solid;
  border-color: lightgray;
  padding-top: 15px;
}



#reviews-container{
  border: solid;
  border-color: gray;
}

#reviews-container:empty{
  border: none;
}



.btn{
  background-color: #9DB68C;
}
