h3{
  font-size: 70px;
  color: red;
}

img{
  height: 80px;
  width: 80px;
}

#score{
  padding-left: 2px;
  padding-right: 5px;
  font-size: 230%;
  margin-top: -5px;
  font-family: 'Abril Fatface', cursive;
}

.review-container{
  border-bottom: solid;
  border-color: lightgray;
  padding-top: 15px;
}





#reviews-container{
  border: solid;
  border-color: gray;
}

#reviews-container:empty{
  border: none;
}

.navbar{
  background-color: #00BCFF;

}
.nav-link{
  color: white;
}


.btn{
  background-color: ;
}
